[alias]
  co = checkout
  ca = commit -av
  aa = add --all
  a = add
  s = status
  d = diff
  l = log --show-signature
  dc = diff --cached
  sho = show --show-signature
  caa = commit --amend -av
  se = send-email

[user]
  name = Stefan Schwoegler
  email = stefan@cryp7.net
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJf9ewizLQdZO7uTxZFceOOsmDaBN7BDzygsBa2untVy

[gpg]
  format = ssh

[commit]
  gpgsign = true

[tag]
  gpgsign = true

[include]
  path = ~/.gitconfig.gpg.ssh

[push]
  default = current

[core]
  excludesfile = ~/.gitignore

[init]
  defaultBranch = master

[sendemail]
  smtpServer = sendgmail
  smtpServerOption = -sender=stefan@cryp7.net
  annotate = yes
[pull]
	rebase = true
