[user]
  name = Stefan Schwoegler
  email = stefan@cryp7.net
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJf9ewizLQdZO7uTxZFceOOsmDaBN7BDzygsBa2untVy

[gpg]
  format = ssh

[commit]
  gpgsign = true

[include]
  path = ~/.gitconfig.gpg.ssh

[push]
  default = current

[core]
  excludesfile = ~/.gitignore

[init]
  defaultBranch = master
