[user]
  name = Stefan Schwoegler
  email = stefan@cryp7.net
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJf9ewizLQdZO7uTxZFceOOsmDaBN7BDzygsBa2untVy

[gpg]
  format = ssh

[commit]
  gpgsign = true

[tag]
  gpgsign = true

[include]
  path = ~/.gitconfig.gpg.ssh

[push]
  default = current

[core]
  excludesfile = ~/.gitignore

[init]
  defaultBranch = master

[sendemail]
  smtpserver = smtp.gmail.com
  smtpuser = stefan@cryp7.net
  smtpencryption = tls
  smtpserverport = 587
  annotate = yes

[alias]
  co = checkout
  ca = commit -av
  aa = add --all
  s = status
  d = diff
  sho = show --show-signature
  caa = commit --amend -av
  l = log --show-signature
